# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.kategoryzator/

# Local artifacts
logs/
plots/
raporty_xgb/

# Notebook/runtime
.ipynb_checkpoints/

# VCS
.git/
.gitignore

# OS/editor
.DS_Store
.vscode/
